.btnFavorite {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;

	@media (hover: hover) {
		&:hover {
			transform: scale(1.2);
			color: #FF0000;
		}
	}
}