.btnBurgerMenu {
	$heightLine: 3px;

	span {
		width: calc(100% - 10px);
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: calc(100% - 20px);
		height: $heightLine;
		background-color: #fff;
		border-radius: 50px;
		transition: width 0.3s ease-in-out;
	}

	&::before {
		transform: translate(-50%, calc(-50% + (-7px)));
	}

	&::after {
		transform: translate(-50%, calc(-50% + (+7px)));
	}

	@media (hover: hover) {
		&:hover span {
			width: calc(100% - 20px);
		}

		&:hover::before {
			width: calc(100% - 10px);
		}

		&:hover::after {
			width: calc(100% - 10px);
		}
	}
}