.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	width: max-content;
	height: auto;

	.image {
		width: 60px;
		height: 60px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.text {
		text-transform: uppercase;
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		transition: color 0.25s ease-in-out;
		line-height: 2rem;
	}

	&:hover {
		.text {
			color: #00ffff;
		}
	}
}