@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-400.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-500.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-700.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}