@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
	@import url("./importFonts.css");
}

html,
body,
#root {
	height: 100%;
}

a {
	color: #FFF;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-family: "Inter", sans-serif;
	min-width: 320px;
	background-color: #01000c;
	color: #FFF;
	line-height: 1rem;
}